.advantage{
  color: $color-font;
  background: url("../../../assets/advantage-bg.jpg");
  padding: $margin-big 0;

  .advantage-items{
    text-align: center;
    position: relative;

    &:before{
      @include before-default;

      width: 2px;
      height: 100%;
      background: #5a3740;
    }
    &:last-child{
      &:before{
        display: none;
      }
    }

    h3{
      font-weight: $font-weight-light;
    }
    h1{
      color: $color-primary-base;
    }
    p{
      margin: 0;
      font-size: $font-size-base;
      color: $color-gray;
    }
  }
}