
.header{
  z-index: $z-index-force;
}

.navbar{
  margin: $margin-base 0;
  .navbar-brand{
    margin-right: $margin-big;
  }

  .navbar-nav{

    > li{
      > a{
        padding: $padding-small !important;
        font-size: $font-size-small;
        color: $color-font;
      }
    }
  }

  .dropdown-menu{
    border-radius: 0;
    padding: $padding-wee 0;
    a{
      font-size: $font-size-small;
      padding: $padding-tiny $padding-small;
    }
  }
  .modelos{
    .dropdown-menu{
      padding: $padding-tiny;
      height: 270px;
      overflow: auto;
      border-radius: $border-radius;
    }
    .dropdown-item{
      @include center-space-between;

      font-weight: $font-weight-semi-bold;
      padding: $padding-small;

      .modelo{
        margin-left: $margin-extra;
      }
    }
  }

  .phones{
    .phones-box{
      overflow: hidden;
      position: absolute;
      top: 46px;
      box-shadow: 0 0 31px rgba(0,0,0,0.4);
    }
    .btn-secondary{
      border-radius: 0;
      background-color: transparent;
      color:$color-font;
      border: solid 2px $color-font;
      font-size: $font-size-base;
      padding: $padding-tiny $padding-small;
      box-shadow:none;

      &:active{
        background-color: transparent;
        box-shadow:none !important;
        border: solid 2px $color-font;
      }

      .fa-phone{
        font-size: $font-size-small;
      }
      > .fa-chevron-down{
        margin-left: $margin-small;
        font-size: $font-size-wee;
      }
    }

    .phones-items{
      width: 260px;
      .btn-secondary{
        color: $color-gray-base;
        border:0;
        width: 100%;
        border-bottom: $border;

        @include center-space-between;
        position: relative;
        z-index: $z-index-behind;
        &[aria-expanded="true"]{
          color: $color-primary-base;
          .fa-chevron-down{
            transform: rotate(180deg);
          }
        }
        &:active{
          background: transparent;
          color: $color-primary-base;
        }
        &:last-child{
          border: 0;
          box-shadow: none;
          z-index: $z-index-behind;
        }
        .fa-chevron-down{
          font-size: $font-size-small;
          transition: .3s;
        }
      }

      .card-body{
        padding: 0;
        .card-body{
          background: $color-primary-base;
          padding: 0.5rem;
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2) inset;
        }
      }
    }
  }

  .brand-horizontal{
    margin-left: 50.5px;
  }
}